<%- include('../includes123/head.ejs') %>
</head>

<body>
    <%- include('../includes123/navigation.ejs') %>
    <section style="margin: 1rem;">
        <p>Checkout has been canceled. Shop around then come back to pay!</p>
    </section>

<%- include('../includes123/end.ejs') %>