<%- include('../includes123/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes123/navigation.ejs') %>

    <div>
        <h1>Welcome from product details page</h1>
    </div>


<%- include('../includes123/end.ejs') %>