<%- include('../includes123/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes123/navigation.ejs') %>

    <div>
        <h1>Welcome to login form!!!</h1>
    </div>
    
<%- include('../includes123/end.ejs') %>